@model TransacaoModel;

@{
  ViewData["Title"] = "Registro de Transações";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Transacao" asp-action="Cadastro" method="post">
  <div class="container">

    <div class="mb-3">
      <label class="form-label">Data</label>
      <input id="txtData" class="form-control" type="date" asp-for="Data" />
    </div>

    <div class="mb-3">
      <label class="form-label">Valor</label>
      <input id="txtValor" class="form-control" type="date" asp-for="Valor" />
    </div>

    <div class="mb-3">
      <label class="form-label">Item Plano Conta</label>
      @Html.DropDownListFor(model => model.PlanoContaId, Model.PlanoConta, "Selecione um Plano de Conta", new { @class
            = "form-select" })
      <div id="IblTipo" class="form-label" />
      <input type="text" itemid="txtTipo" class="form-control" asp-formaction="Tipo" />
    </div>

    <div class="mb-3">
      <label class="form-label">Histórico</label>
      <input type="hidden" itemid="textId" asp-for="Id" class="form-control" />
      <input type="text" id="texNome" asp-for="Historico" class="form-control" />
    </div>

  </div>
</form>

<script>
  function Voltar() {
    window.location.href = "../Transacao/Index";
  }
</script>