@model PlanoContaModel;

@{
  ViewData["Title"] = "Cadastro de Plano de Conta";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="Cadastro" method="post">
  <div class="container">

    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <input type="hidden" Id="textId" class="form-label" asp-for="Id"></input>
      <input type="text" Id="textNome" class="form-label" asp-for="Nome"></input>
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
      <label>@Html.RadioButtonFor(m => m.Tipo, "D")Despesa</label>
      <label>@Html.RadioButtonFor(m => m.Tipo, "R")Receita</label>
      <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-secondary" onclick="Voltar()">Cancelar</button>
    </div>

  </div>
</form>

<script>
  function Voltar() {
    window.location.href = "../PlanoConta/Index";
  }
</script>